body {
  background: #404146;
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Prompt', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContainer{
  margin-top: 50px;
  margin-bottom: 50px;
  background: #ff4e50;
  min-width: 600px;
  box-shadow: 10px 10px 5px #0f0f0f;
  border-radius: 5px;
}

input {
  padding: 7px;
  text-align: center;
  background: #1F2124;
  border: none;
  border-radius: 2px;
  color: #03E1A4;
}

tr, td {
  border: none;
}

th {
  font-size: 25px;
}

td{
  font-size: 20px;
}

